{{ define "main/DashboardPage.html" }}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ .title }}</title>
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
      *,
      html,
      body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        background-color: rgb(49, 47, 47);
      }
    </style>
  </head>
  <body>
    <div class="flex flex-row-reverse items-center mr-10 mt-10 gap-3">
      <form
        action="/user/logout"
        method="post"
        class="inline-flex items-center justify-center px-4 py-2 text-base font-medium leading-6 text-white whitespace-no-wrap bg-indigo-600 border border-transparent rounded-md shadow-sm hover:bg-indigo-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-600"
      >
        <button type="submit">Logout</button>
      </form>
    </div>
    <div
      class="flex flex-col items-center mt-6 space-y-3 overflow-auto mx-auto"
    >
      <a
        href="/"
        class="w-1/3 ml-10 mt-4 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
      >
        Pendekin
      </a>
      <div class="flex flex-wrap w-3/5 gap-x-3">
        {{ range $_, $url := $.urls }}
        <div class="flex flex-col flex-shrink-0 w-72">
          <div
            class="relative flex flex-col items-start p-4 mt-3 bg-white rounded-lg cursor-pointer bg-opacity-100 group"
          >
            <form
              action="/url/update/{{ $url.ID }}"
              method="get"
              class="absolute top-0 right-0 flex items-center justify-center w-5 h-5 mt-3 mr-2 text-gray-500 rounded hover:bg-gray-200 hover:text-gray-700"
            >
              <button>
                <box-icon
                  name="edit"
                  class="bg-white bg-opacity-90 hover:bg-opacity-100"
                ></box-icon>
              </button>
            </form>
            <form
              action="/url/delete/{{ $url.ID }}"
              method="POST"
              class="absolute top-0 right-0 flex items-center justify-center w-5 h-5 mt-9 mr-2 text-gray-500 rounded hover:bg-gray-200 hover:text-gray-700"
            >
              <button>
                <box-icon
                  name="trash"
                  class="bg-white bg-opacity-90 hover:bg-opacity-100"
                ></box-icon>
              </button>
            </form>
            <span
              class="flex items-center h-6 px-3 text-xs font-semibold text-pink-500 bg-pink-100 rounded-full"
              >{{ $url.ShortenedUrl }}</span
            >
            <a
              href="{{ $url.RealUrl }}"
              target="_blank"
              class="ml-1 mt-3 text-sm font-medium bg-white"
            >
              <p class="bg-white">{{ $url.RealUrl }}</p>
            </a>
          </div>
        </div>
        {{ end }}
      </div>
    </div>
  </body>
</html>
{{ end }}
